@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

 <partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="bg-img-cover w-100 min-vh-100 d-flex flex-column justify-content-center">
    <div class="py-5">
        <form id="change-password-form" method="post" class="container">
            <div class="mx-auto bg-body p-5 rounded" style="max-width: 600px">
                <a class="link-body" asp-controller="Home" asp-action="Index">
                    <img class="img-fluid" style="height: 45px" src="~/assets/img/logo.png" alt="" />
                </a>
                <h1 class="mb-5 fs-4 mt-4">Change Your Password</h1>
                <hr class="mt-0" role="presentation">
                <div class="row">
                    <div class="col-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.OldPassword"></label>
                            <input asp-for="Input.OldPassword" class="form-control" />
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="Input.NewPassword"></label>
                            <input asp-for="Input.NewPassword" class="form-control" />
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3 mb-3">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Password</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}