@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="d-flex align-items-center min-vh-100 py-5 mr-auto bg-body" style="max-width: 600px;">
    <div class="container">
        @{
            if (User.Identity.IsAuthenticated)
            {
                <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="card bg-transparent shadow-none px-lg-5">
                    <h1 class="mb-5 fs-4 mt-6">Logout Confirmation</h1>
                    <p>Are you sure you want to log out?</p>
                    <div class="d-block mt-3">
                        <button class="btn btn-lg btn-primary" type="submit">Yes, Logout</button>
                    </div>
                </form>
            }
            else
            {
                <div class="card bg-transparent shadow-none px-lg-5">
                    <h1 class="mb-4 fs-5 mt-6">Logged Out</h1>
                    <p class="fs-1 mb-3">
                        Thank you for using our service. We hope to see you again.
                    </p>
                    <a class="btn btn-lg btn-primary" asp-controller="Home" asp-action="Index">Go Back Home</a>
                </div>
            }
        }
    </div>
</div>