@model iTut.Models.HOD.Leave.AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AdminLeaveRequestViewVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TotalRequests" class="control-label"></label>
                <input asp-for="TotalRequests" class="form-control" />
                <span asp-validation-for="TotalRequests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovedRequests" class="control-label"></label>
                <input asp-for="ApprovedRequests" class="form-control" />
                <span asp-validation-for="ApprovedRequests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PendingRequests" class="control-label"></label>
                <input asp-for="PendingRequests" class="form-control" />
                <span asp-validation-for="PendingRequests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RejectedRequests" class="control-label"></label>
                <input asp-for="RejectedRequests" class="form-control" />
                <span asp-validation-for="RejectedRequests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="AdminLeaveRequestViewVMs" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
