.badge {
    display: inline-block;
    padding: var(--spacer-2);
    font-size: 75%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--spacer-1);
}
