@using Microsoft.AspNetCore.Identity
@using iTut.Constants

<nav class="navside navside-expand-lg sticky-top order-2 order-lg-0">
    <div class="container invisible-scrollbar">
        @if (User.IsInRole(RoleConstants.Parent))
        {
            <a href="/" class="link-body d-none d-lg-inline text-primary">
                <svg class="gi gi-grayshift fs-4" width="2rem" height="2rem" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.336 11.253l-.08.08C1.685 11.956 2.12 13 3 13h1.116l.892 7.124A1 1 0 0 0 6 21h4a1 1 0 0 0 1-1v-4.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V20a1 1 0 0 0 1 1h4l.115-.007a1 1 0 0 0 .877-.869l.89-7.124H21c.92 0 1.352-1.137.664-1.747l-9-8a1 1 0 0 0-1.329 0l-9 8z" />
                </svg>
            </a>
            <ul class="navside-nav mb-lg-0">
                <li class="nav-item d-lg-none">
                    <a href="/Parent/Complaints" class="nav-link">
                        <svg class="gi gi-message-square-2 fs-4" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.336 11.253l-.08.08C1.685 11.956 2.12 13 3 13h1.116l.892 7.124A1 1 0 0 0 6 21h4a1 1 0 0 0 1-1v-4.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V20a1 1 0 0 0 1 1h4l.115-.007a1 1 0 0 0 .877-.869l.89-7.124H21c.92 0 1.352-1.137.664-1.747l-9-8a1 1 0 0 0-1.329 0l-9 8z" />
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Parent/Complaints">
                        <svg class="gi gi-file-plus-outline fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.4 2a1 1 0 0 1 .607.206l.1.087 4.6 4.58a1 1 0 0 1 .285.576l.01.132V19a3 3 0 0 1-2.824 2.995L17 22H7a3 3 0 0 1-2.995-2.824L4 19V5a3 3 0 0 1 2.824-2.995L7 2h7.4zM12 4H7a1 1 0 0 0-.993.883L6 5v14a1 1 0 0 0 .883.993L7 20h10a1 1 0 0 0 .993-.883L18 19v-9h-3a3 3 0 0 1-2.995-2.824L12 7V4zm2 .003V7a1 1 0 0 0 .883.993L15 8h3v-.005l-4-3.992zM12 12a1 1 0 0 1 .993.883L13 13v1h1a1 1 0 0 1 .117 1.993L14 16h-1v1a1 1 0 0 1-1.993.117L11 17v-1h-1a1 1 0 0 1-.117-1.993L10 14h1v-1a1 1 0 0 1 1-1z" />
                        </svg>

                    </a>
                </li>
                <li class="nav-item flex-lg-grow-1">
                    <a class="nav-link" href="/Parent/MeetingRequest">
                        <svg class="gi gi-calendar-outline fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 2a1 1 0 0 1 1 1v1h1a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V7a3 3 0 0 1 3-3h1V3a1 1 0 1 1 2 0v1h6V3a1 1 0 0 1 1-1zm3 12H5v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1h0v-5zM7 6H6a1 1 0 0 0-1 1h0v5h14V7a1 1 0 0 0-1-1h0-1v1a1 1 0 1 1-2 0V6H9v1a1 1 0 1 1-2 0V6zm5 10h4a1 1 0 1 1 0 2h-4a1 1 0 1 1 0-2zm-4 2a1 1 0 1 0 0-2 1 1 0 1 0 0 2z" />
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Parent/Children">
                        <svg class="gi gi-users fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 13c1.93 0 3.677.78 4.943 2.043C14.787 14.4 15.848 14 17 14a5 5 0 0 1 5 5 1 1 0 0 1-1 1h-5a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1 7 7 0 0 1 7-7zM9 3a4 4 0 1 1 0 8 4 4 0 1 1 0-8zm8 10a3 3 0 1 0 0-6 3 3 0 1 0 0 6z" />
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Parent/InviteParent" class="nav-link">
                        <svg class="gi gi-user-plus-outline fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.5 13a7 7 0 0 1 7 7 1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1 7 7 0 0 1 7-7zm0 2c-2.398 0-4.402 1.688-4.888 3.94L4.6 19h9.797l-.01-.06c-.47-2.185-2.37-3.838-4.67-3.936L9.5 15zm0-12a4 4 0 1 1 0 8 4 4 0 1 1 0-8zm0 2a2 2 0 1 0 0 4 2 2 0 1 0 0-4zm9-1a1 1 0 0 1 .993.883L19.5 5v1h1a1 1 0 0 1 .117 1.993L20.5 8h-1v1a1 1 0 0 1-1.993.117L17.5 9V8h-1a1 1 0 0 1-.117-1.993L16.5 6h1V5a1 1 0 0 1 1-1z" />
                        </svg>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <svg class="gi gi-settings fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.622 2.67c1.54.782.363 2.544 1.753 3.553s2.3-1.047 3.92.568 1.88 3.345 1.62 4.993-2.288 1.077-2.836 2.763 1.674 1.938.67 3.903-2.58 2.82-4.243 3.086-1.754-1.844-3.508-1.844-1.294 2.2-3.508 1.844-3.46-1.556-4.243-3.086 1.204-2.257.67-3.903-2.486-.533-2.836-2.763.46-3.828 1.62-4.993 2.473.483 3.92-.568-.207-2.56 1.753-3.553 3.706-.782 5.247 0zM12 8.5a3.5 3.5 0 1 0 0 7 3.5 3.5 0 1 0 0-7zm0 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 1 0 0 3z"></path>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link logout-button text-danger" href="/Identity/Account/Logout">
                        <svg class="gi gi-log-out fs-4" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.5 19a1 1 0 0 1-.883.993L6.5 20h-2a1 1 0 0 1-.993-.883L3.5 19V5a1 1 0 0 1 .883-.993L4.5 4h2a1 1 0 0 1 .117 1.993L6.5 6h-1v12h1a1 1 0 0 1 .993.883L7.5 19zm1-7a1 1 0 0 0 .883.993L9.5 13h7.585l-2.292 2.293a1 1 0 0 0-.083 1.32l.083.094a1 1 0 0 0 1.32.083l.094-.083 4-4a1.01 1.01 0 0 0 .097-.112l.072-.11.053-.113.035-.105.03-.15L20.5 12l-.003-.075-.017-.125-.03-.11-.044-.11-.052-.097-.064-.092-.083-.094-4-4a1 1 0 0 0-1.497 1.32l.083.094L17.085 11H9.5a1 1 0 0 0-1 1z" />
                        </svg>
                    </a>
                </li>
            </ul>
        }
        else if (User.IsInRole(RoleConstants.Educator))
        {
            <a href="/" class="link-body d-none d-lg-inline text-primary">
            <svg class="gi gi-grayshift fs-4" width="2rem" height="2rem" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.336 11.253l-.08.08C1.685 11.956 2.12 13 3 13h1.116l.892 7.124A1 1 0 0 0 6 21h4a1 1 0 0 0 1-1v-4.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V20a1 1 0 0 0 1 1h4l.115-.007a1 1 0 0 0 .877-.869l.89-7.124H21c.92 0 1.352-1.137.664-1.747l-9-8a1 1 0 0 0-1.329 0l-9 8z" />
            </svg>
           </a>
            <ul class="navside-nav mb-lg-0">
            <li class="nav-item d-lg-none">
                <a href="/Educator/CreateTask" class="nav-link">
                    <svg class="gi gi-message-square-2 fs-4" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.336 11.253l-.08.08C1.685 11.956 2.12 13 3 13h1.116l.892 7.124A1 1 0 0 0 6 21h4a1 1 0 0 0 1-1v-4.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V20a1 1 0 0 0 1 1h4l.115-.007a1 1 0 0 0 .877-.869l.89-7.124H21c.92 0 1.352-1.137.664-1.747l-9-8a1 1 0 0 0-1.329 0l-9 8z" />
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Educator/CreateTask">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                      <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                    </svg>

                </a>
            </li>
            <li class="nav-item flex-lg-grow-1">
                <a class="nav-link" href="#">
                   <svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" fill="currentColor" class="bi bi-person-hearts" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z"/>
                   </svg>
                </a>
            </li> 
           @*  <li class="nav-item flex-lg-grow-1">
                <a class="nav-link" href="#">
                 <svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                         <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"/>
                   </svg>
                </a>
            </li>*@
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <svg class="gi gi-users fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 13c1.93 0 3.677.78 4.943 2.043C14.787 14.4 15.848 14 17 14a5 5 0 0 1 5 5 1 1 0 0 1-1 1h-5a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1 7 7 0 0 1 7-7zM9 3a4 4 0 1 1 0 8 4 4 0 1 1 0-8zm8 10a3 3 0 1 0 0-6 3 3 0 1 0 0 6z" />
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#inviteParentModal">
                    <svg class="gi gi-user-plus-outline fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.5 13a7 7 0 0 1 7 7 1 1 0 0 1-1 1h-12a1 1 0 0 1-1-1 7 7 0 0 1 7-7zm0 2c-2.398 0-4.402 1.688-4.888 3.94L4.6 19h9.797l-.01-.06c-.47-2.185-2.37-3.838-4.67-3.936L9.5 15zm0-12a4 4 0 1 1 0 8 4 4 0 1 1 0-8zm0 2a2 2 0 1 0 0 4 2 2 0 1 0 0-4zm9-1a1 1 0 0 1 .993.883L19.5 5v1h1a1 1 0 0 1 .117 1.993L20.5 8h-1v1a1 1 0 0 1-1.993.117L17.5 9V8h-1a1 1 0 0 1-.117-1.993L16.5 6h1V5a1 1 0 0 1 1-1z" />
                    </svg>

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <svg class="gi gi-settings fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.622 2.67c1.54.782.363 2.544 1.753 3.553s2.3-1.047 3.92.568 1.88 3.345 1.62 4.993-2.288 1.077-2.836 2.763 1.674 1.938.67 3.903-2.58 2.82-4.243 3.086-1.754-1.844-3.508-1.844-1.294 2.2-3.508 1.844-3.46-1.556-4.243-3.086 1.204-2.257.67-3.903-2.486-.533-2.836-2.763.46-3.828 1.62-4.993 2.473.483 3.92-.568-.207-2.56 1.753-3.553 3.706-.782 5.247 0zM12 8.5a3.5 3.5 0 1 0 0 7 3.5 3.5 0 1 0 0-7zm0 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 1 0 0 3z"></path>
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link logout-button text-danger" href="/Identity/Account/Logout">
                    <svg class="gi gi-log-out fs-4" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.5 19a1 1 0 0 1-.883.993L6.5 20h-2a1 1 0 0 1-.993-.883L3.5 19V5a1 1 0 0 1 .883-.993L4.5 4h2a1 1 0 0 1 .117 1.993L6.5 6h-1v12h1a1 1 0 0 1 .993.883L7.5 19zm1-7a1 1 0 0 0 .883.993L9.5 13h7.585l-2.292 2.293a1 1 0 0 0-.083 1.32l.083.094a1 1 0 0 0 1.32.083l.094-.083 4-4a1.01 1.01 0 0 0 .097-.112l.072-.11.053-.113.035-.105.03-.15L20.5 12l-.003-.075-.017-.125-.03-.11-.044-.11-.052-.097-.064-.092-.083-.094-4-4a1 1 0 0 0-1.497 1.32l.083.094L17.085 11H9.5a1 1 0 0 0-1 1z" />
                    </svg>
                </a>
            </li>
          </ul>

        }
        else if (User.IsInRole(RoleConstants.Student))
        { 
            <a href="/" class="link-body d-none d-lg-inline text-primary">
               <svg class="gi gi-grayshift fs-4" width="2rem" height="2rem" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                 <path d="M2.336 11.253l-.08.08C1.685 11.956 2.12 13 3 13h1.116l.892 7.124A1 1 0 0 0 6 21h4a1 1 0 0 0 1-1v-4.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V20a1 1 0 0 0 1 1h4l.115-.007a1 1 0 0 0 .877-.869l.89-7.124H21c.92 0 1.352-1.137.664-1.747l-9-8a1 1 0 0 0-1.329 0l-9 8z" />
             </svg>
           </a>
        <ul class="navside-nav mb-lg-0">
              <li class="nav-item ">   
                <a href="#" class="nav-link">   
          <svg class="gi gi-book" width="2em" height="2em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M19 3a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H7a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3h12zm-1 14H7a1 1 0 0 0-.993.883L6 18a1 1 0 0 0 .883.993L7 19h11v-2z"/>
      </svg>
          <a/>  
            </li>
                <li class="nav-item">
                <a href="#" class="nav-link">
                  <svg class="gi gi-bell" width="2em" height="2em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
               <path d="M12 2a7 7 0 0 1 7 7v2.465a2 2 0 0 0 .267.999L20.73 15A2 2 0 0 1 18.998 18H16a4 4 0 0 1-7.995.2L8 18H5.002a2 2 0 0 1-1.733-2.999l1.463-2.537A2 2 0 0 0 5 11.465V9a7 7 0 0 1 7-7zm2 16h-4l.005.15A2 2 0 0 0 14 18h0z"/>
              </svg>
              <a/>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <svg class="gi gi-calendar-outline fs-3" width="2em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 2a1 1 0 0 1 1 1v1h1a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V7a3 3 0 0 1 3-3h1V3a1 1 0 1 1 2 0v1h6V3a1 1 0 0 1 1-1zm3 12H5v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1h0v-5zM7 6H6a1 1 0 0 0-1 1h0v5h14V7a1 1 0 0 0-1-1h0-1v1a1 1 0 1 1-2 0V6H9v1a1 1 0 1 1-2 0V6zm5 10h4a1 1 0 1 1 0 2h-4a1 1 0 1 1 0-2zm-4 2a1 1 0 1 0 0-2 1 1 0 1 0 0 2z" />
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <svg class="gi gi-users fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 13c1.93 0 3.677.78 4.943 2.043C14.787 14.4 15.848 14 17 14a5 5 0 0 1 5 5 1 1 0 0 1-1 1h-5a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1 7 7 0 0 1 7-7zM9 3a4 4 0 1 1 0 8 4 4 0 1 1 0-8zm8 10a3 3 0 1 0 0-6 3 3 0 1 0 0 6z" />
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#inviteParentModal">
                   <svg class="gi gi-badge" width="2em" height="2em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2a6 6 0 0 1 6 6c0 1.455-.518 2.79-1.38 3.828l2.346 8.918c.225.854-.68 1.54-1.43 1.142l-.093-.055L12 18.202l-5.445 3.63c-.703.47-1.596-.09-1.555-.873l.01-.108.022-.106 2.346-8.918C6.518 10.79 6 9.455 6 8a6 6 0 0 1 6-6zm0 2a4 4 0 1 0 0 8 4 4 0 1 0 0-8z"/>
                 </svg>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <svg class="gi gi-settings fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.622 2.67c1.54.782.363 2.544 1.753 3.553s2.3-1.047 3.92.568 1.88 3.345 1.62 4.993-2.288 1.077-2.836 2.763 1.674 1.938.67 3.903-2.58 2.82-4.243 3.086-1.754-1.844-3.508-1.844-1.294 2.2-3.508 1.844-3.46-1.556-4.243-3.086 1.204-2.257.67-3.903-2.486-.533-2.836-2.763.46-3.828 1.62-4.993 2.473.483 3.92-.568-.207-2.56 1.753-3.553 3.706-.782 5.247 0zM12 8.5a3.5 3.5 0 1 0 0 7 3.5 3.5 0 1 0 0-7zm0 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 1 0 0 3z"></path>
                    </svg>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link logout-button text-danger" href="/Identity/Account/Logout">
                    <svg class="gi gi-log-out fs-4" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.5 19a1 1 0 0 1-.883.993L6.5 20h-2a1 1 0 0 1-.993-.883L3.5 19V5a1 1 0 0 1 .883-.993L4.5 4h2a1 1 0 0 1 .117 1.993L6.5 6h-1v12h1a1 1 0 0 1 .993.883L7.5 19zm1-7a1 1 0 0 0 .883.993L9.5 13h7.585l-2.292 2.293a1 1 0 0 0-.083 1.32l.083.094a1 1 0 0 0 1.32.083l.094-.083 4-4a1.01 1.01 0 0 0 .097-.112l.072-.11.053-.113.035-.105.03-.15L20.5 12l-.003-.075-.017-.125-.03-.11-.044-.11-.052-.097-.064-.092-.083-.094-4-4a1 1 0 0 0-1.497 1.32l.083.094L17.085 11H9.5a1 1 0 0 0-1 1z" />
                    </svg>
                </a>
            </li>
        </ul>
        }
        else if (User.IsInRole(RoleConstants.SubjectCoordinator))
        {
            <!--Home icon-->
            <a href="/" class="link-body d-none d-lg-inline text-primary">
                <svg class="gi gi-grayshift fs-4" width="2rem" height="2rem" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.336 11.253l-.08.08C1.685 11.956 2.12 13 3 13h1.116l.892 7.124A1 1 0 0 0 6 21h4a1 1 0 0 0 1-1v-4.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5V20a1 1 0 0 0 1 1h4l.115-.007a1 1 0 0 0 .877-.869l.89-7.124H21c.92 0 1.352-1.137.664-1.747l-9-8a1 1 0 0 0-1.329 0l-9 8z" />
                </svg>
            </a>
            <!--courses icon-->
            <ul class="navside-nav mb-lg-0">
                <li class="nav-item d-lg-none">
                    <a href="/Coordinator/CreateASubject" class="nav-link">
                        <svg class="gi gi-book-outline" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 3a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H7a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3h12zm-1 14H7a1 1 0 0 0-.993.883L6 18a1 1 0 0 0 .883.993L7 19h11v-2zm0-12H7a1 1 0 0 0-.993.883L6 6v9.17c.313-.11.65-.17 1-.17h11V5z" />
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Coordinator/CreateASubject" class="nav-link">
                        <svg class="gi gi-book-outline fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 3a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H7a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3h12zm-1 14H7a1 1 0 0 0-.993.883L6 18a1 1 0 0 0 .883.993L7 19h11v-2zm0-12H7a1 1 0 0 0-.993.883L6 6v9.17c.313-.11.65-.17 1-.17h11V5z" />
                        </svg>
                    </a>
                </li>                
                <!--Educator icon-->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <svg class="gi gi-users fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 13c1.93 0 3.677.78 4.943 2.043C14.787 14.4 15.848 14 17 14a5 5 0 0 1 5 5 1 1 0 0 1-1 1h-5a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1 7 7 0 0 1 7-7zM9 3a4 4 0 1 1 0 8 4 4 0 1 1 0-8zm8 10a3 3 0 1 0 0-6 3 3 0 1 0 0 6z" />
                        </svg>
                    </a>
                </li>
                <!--Feedback icon-->
                <li class="nav-item">
                    <a class="nav-link" href="/Coordinator/Feedback">
                        <svg class="gi gi-file-plus-outline fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.4 2a1 1 0 0 1 .607.206l.1.087 4.6 4.58a1 1 0 0 1 .285.576l.01.132V19a3 3 0 0 1-2.824 2.995L17 22H7a3 3 0 0 1-2.995-2.824L4 19V5a3 3 0 0 1 2.824-2.995L7 2h7.4zM12 4H7a1 1 0 0 0-.993.883L6 5v14a1 1 0 0 0 .883.993L7 20h10a1 1 0 0 0 .993-.883L18 19v-9h-3a3 3 0 0 1-2.995-2.824L12 7V4zm2 .003V7a1 1 0 0 0 .883.993L15 8h3v-.005l-4-3.992zM12 12a1 1 0 0 1 .993.883L13 13v1h1a1 1 0 0 1 .117 1.993L14 16h-1v1a1 1 0 0 1-1.993.117L11 17v-1h-1a1 1 0 0 1-.117-1.993L10 14h1v-1a1 1 0 0 1 1-1z" />
                        </svg>
                    </a>
                </li>
                <!--Calendar icon-->
                <li class="nav-item flex-lg-grow-1">
                    <a class="nav-link" href="#">
                        <svg class="gi gi-calendar-outline fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 2a1 1 0 0 1 1 1v1h1a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V7a3 3 0 0 1 3-3h1V3a1 1 0 1 1 2 0v1h6V3a1 1 0 0 1 1-1zm3 12H5v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1h0v-5zM7 6H6a1 1 0 0 0-1 1h0v5h14V7a1 1 0 0 0-1-1h0-1v1a1 1 0 1 1-2 0V6H9v1a1 1 0 1 1-2 0V6zm5 10h4a1 1 0 1 1 0 2h-4a1 1 0 1 1 0-2zm-4 2a1 1 0 1 0 0-2 1 1 0 1 0 0 2z" />
                        </svg>
                    </a>
                </li>
                <!--Edit profile icon-->
                <!--Setting icon-->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <svg class="gi gi-settings fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.622 2.67c1.54.782.363 2.544 1.753 3.553s2.3-1.047 3.92.568 1.88 3.345 1.62 4.993-2.288 1.077-2.836 2.763 1.674 1.938.67 3.903-2.58 2.82-4.243 3.086-1.754-1.844-3.508-1.844-1.294 2.2-3.508 1.844-3.46-1.556-4.243-3.086 1.204-2.257.67-3.903-2.486-.533-2.836-2.763.46-3.828 1.62-4.993 2.473.483 3.92-.568-.207-2.56 1.753-3.553 3.706-.782 5.247 0zM12 8.5a3.5 3.5 0 1 0 0 7 3.5 3.5 0 1 0 0-7zm0 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 1 0 0 3z"></path>
                        </svg>
                    </a>
                </li>
                <!--Log out icon-->
                <li class="nav-item">
                    <a class="nav-link logout-button text-danger" href="/Identity/Account/Logout">
                        <svg class="gi gi-log-out fs-4" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.5 19a1 1 0 0 1-.883.993L6.5 20h-2a1 1 0 0 1-.993-.883L3.5 19V5a1 1 0 0 1 .883-.993L4.5 4h2a1 1 0 0 1 .117 1.993L6.5 6h-1v12h1a1 1 0 0 1 .993.883L7.5 19zm1-7a1 1 0 0 0 .883.993L9.5 13h7.585l-2.292 2.293a1 1 0 0 0-.083 1.32l.083.094a1 1 0 0 0 1.32.083l.094-.083 4-4a1.01 1.01 0 0 0 .097-.112l.072-.11.053-.113.035-.105.03-.15L20.5 12l-.003-.075-.017-.125-.03-.11-.044-.11-.052-.097-.064-.092-.083-.094-4-4a1 1 0 0 0-1.497 1.32l.083.094L17.085 11H9.5a1 1 0 0 0-1 1z" />
                        </svg>
                    </a>
                </li>
            </ul>
        }
        else
        {

        }
    </div>
</nav>