<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iTut</title>
    <link rel="stylesheet" href="~/css/grayshift.css" />
    <link rel="stylesheet" href="~/css/theme.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body class="p-0 m-0">
    <div class="100vh 100vw">
        <div class="d-flex flex-column flex-lg-row">
            <partial name="_NavsidePartial" />
            <partial name="_SidebarPartial" />
            @RenderBody()
        </div>
        <partial name="_InviteParentPartial" model="new ParentInvite()" />
    </div>
    <script src="~/libs/jQuery/js/jquery.js"></script>
    <script src="~/libs/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
