@inject UserManager<ApplicationUser> UserManager;
@{
    var user = await UserManager.GetUserAsync(User);
}
<div class="modal fade" id="sideBarPartialModal" tabindex="-1" aria-labelledby="sideBarPartialModalLabel" aria-hidden="true">
    <div class="modal-dialog mr-0 mt-0 mb-0 modal-md h-100 fadeInRight animated modal-content rounded-0 px-3 pt-5">
        <div class="d-flex py-2 align-items-center">
            <h1 class="mr-auto fs-3 mb-3">Menu</h1>
        </div>
        <hr class="mt-0" role="presentation">
        @if (User.IsInRole(RoleConstants.Parent))
        {
            <div class="w-100 cusror-pointer">
                <div class="d-flex">
                    <a asp-controller="Parent" asp-action="UserReport">
                        <div class="flex-grow-1">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h2 class="fs-1">User Report</h2>
                            </div>
                            <p class="text-body fs-1">See All Your Data as a Parent</p>
                        </div>
                    </a>
                </div>
                <hr class="mt-1" role="presentation">
            </div>
        }
        <div class="w-100 cusror-pointer">
            <div class="d-flex">
                <a asp-area="Identity" asp-page="/Account/Manage/PersonalData">
                    <div class="flex-grow-1">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h2 class="fs-1">Personal Data</h2>
                        </div>
                        <p class="text-body fs-1">Manage your profile</p>
                    </div>
                </a>
            </div>
            <hr class="mt-1" role="presentation">
        </div>
        <div class="w-100 cusror-pointer">
            <div class="d-flex">
                <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword">
                    <div class="flex-grow-1">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h2 class="fs-1">Change Password</h2>
                        </div>
                        <p class="text-body fs-1">Keep your account secure</p>
                    </div>
                </a>
            </div>
            <hr class="mt-1" role="presentation">
        </div>
        <div class="w-100 cusror-pointer">
            <div class="d-flex">
                <a asp-area="Identity" asp-page="/Account/Manage/TwoFactorAuthentication">
                    <div class="flex-grow-1">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h2 class="fs-1">Two-factor Authentication</h2>
                        </div>
                        <p class="text-body fs-1">Add additional layer of security</p>
                    </div>
                </a>
            </div>
            <hr class="mt-1" role="presentation">
        </div>
    </div>
</div>