@{
    ViewData["Title"] = "Home Page";
}

<div class="container rounded mb-5 bg-img-cover-1 p-lg-5">
    <div class="row align-items-lg-center">
        <div class="col-lg-6 order-1 order-lg-0 my-5">
            <div class="px-0 px-lg-4">
                <h1 class="mt-4 mb-5 fs-5 text-white">iTut. Your 21<sup>st</sup> Century Education Best Friend</h1>
                <p class="mb-5 text-white">Get up to date with the latest information from your school, and immerse yourself with the best of the best edu-tech platform. We bring you tomorrow, today.</p>
                <a class="btn btn-lg btn-primary" asp-area="Identity" asp-page="/Account/Login">Get Started</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="card grow-sm mb-4 animated fadeInDown">
                        <div class="card-body">
                            <div class="feature bg-primary bg-gradient text-white rounded mb-3"><i class="bi bi-lightbulb-fill"></i></div>
                            <h5 class="mb-3">Work Efficient</h5>
                            <p>
                                Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card grow-sm mb-4 mt-5 animated fadeInUp">
                        <div class="card-body">
                            <div class="feature bg-primary bg-gradient text-white rounded mb-3"><i class="bi bi-box-seam"></i></div>
                            <h5 class="mb-3">One Stop Classroom</h5>
                            <p class="mb-20">
                                Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card grow-sm mb-4 animated fadeInDown">
                        <div class="card-body">
                            <div class="feature bg-primary bg-gradient text-white rounded mb-3"><i class="bi bi-calendar2-date-fill"></i></div>
                            <h5 class="mb-3">Keep up with your Timeline</h5>
                            <p class="mb-20">
                                Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card grow-sm mb-4 mt-5 animated fadeInUp">
                        <div class="card-body">
                            <div class="feature bg-primary bg-gradient text-white rounded mb-3"><i class="bi bi-shield-fill-check"></i></div>
                            <h5 class="mb-3">Super safe to work on</h5>
                            <p class="mb-20">
                                Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
