@using iTut.Models.Parent
@using iTut.Constants
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model InviteParent
@{
    Layout = null;
}

<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<body>
    <h1>iTUT Parent Invitation</h1>
    <p>This email serves to invite you to the iTut platform.</p>
    <p>@Model.InviteMessage</p>
    <a href=$"@RoleConstants.URL/Parent/Invitation/">Click Here to Accept</a>
</body>
</html>