@model iTut.Models.Quiz.QuizViewModel
@{
     ViewData["Title"] = "Question ";
}
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@

<script type="text/javascript"> 
    //tblOption
    //txtOptionName
    
$(document).ready(function() {
    $("#btnAddOption").click(function() {
        AddOptionIntoList();
    });
});

function AddOptionIntoList() {
    if ($("#txtOptionName").val() === "") {
        alert("Option Name Should Not Be Empty");
        $("#txtOptionName").focus();
        return false;
    }
    if($("#tblOption tr").length === 4){
          $("#txtOptionName").focus();
           $("#txtOptionName").val("");
         alert("Options Should Not Be more than 4 ");
        return false;
    } 
    var isSuccess = false;
    $.each($("#tblOption tr"),
        function() {
            var listedValue = $(this).find("td:eq(0) input[type=radio]").val();
            if (listedValue === $("#txtOptionName").val()) {
                 $("#txtOptionName").focus();
                 $("#txtOptionName").val("");
                alert("Its Already Listed");
                isSuccess = true;
            }
        }); 
    
    if (isSuccess === true) {
        return false;
    }
     
    var OptionName =$("#txtOptionName").val();
    var rowAdded = "<tr><td> <input type='radio' value= " + OptionName +
    " name 'OptionName'/>" + OptionName +
    "</td><tr>";

    $("#tblOption").append(rowAdded);
    $("#txtOptionName").focus();
    $("#txtOptionName").val("");

}
        
    


</script>

  <div class="Container  w-100 py-3" >
        <div class="quiz_header_wrapper d-flex py-2 mx-2 px-2"> 
     
            <div class="Quiz_title "> 
               <h1> Add Quesion</h1>
               </div>
           <div class="back_button ml-auto pr-3 py-2">
                <a href="/Educator/CreateQuiz" class="btn btn-outline-danger"> Back </a> 

            </div>
        </div>

   <div class="quiz py-2 mx-2 px-3">
        <h4 class="py-2"> Add Question:</h4>
        <hr class="p-0 m-0"/>

    <!-- <input type='radio' value= name='OptionName'/> -->
 
<form asp-action="AddQuestion" asp-controller="Educator" method="post" enctype = "multipart/form-data">


          <div class="dropdowns py-2">

              <label asp-for="QuizId" class="control-label"> Select Quiz</label>      
                     <select asp-for="QuizId" class="form-control">
                         @foreach(var quiz in ViewBag.Quizzes)
                         {
                             <option value="@quiz.QuizId"> @quiz.QuizDescription</option>
                         }
                     </select>
                     <span asp-validation-for="QuizId" class="text-danger"></span>
          </div>
          
          <label class="py-1" for="textarea"> Question Test: </label><br><br>
        
         <textarea asp-for="QuestionName" rows="7" cols="40" >Write Here</textarea>
         <span asp-validation-for="QuestionName" class="text-danger"></span>
         <br/>
          <label class="" for="textarea"> Add Option : </label><br><br>
            <input asp-for="OptionName" class="form-control" id="txtAddOption" display="d" /> 
            
            <span asp-validation-for="OptionName" class="text-danger"></span>

           <div class="form-group">
               <input type="button" id="btnAddOption" class="btn-primary" value="add option" name="Option" />
           </div>

    </form>
    <table id="tblOption" class="table table-secondary" style="width:100%">

         <input type='radio' value= name='OptionName'/>
    </table>
   </div>

   
   

  </div>