
@{
    ViewData["Title"] = "CreateQuiz";
}



<div class="Container  w-100 py-3">

 <div class="quiz_header_wrapper d-flex py-2 mx-2 px-2"> 
     
    <div class="Quiz_title "> 
       <h1>Create Quiz</h1>
       </div>
   <div class="back_button ml-auto pr-3 py-2">
        <a href="/Educator/CreateTask" class="btn btn-outline-danger"> Back </a> 

    </div>

  

   </div>

    <div class="quiz py-2 mx-2 px-3">
        <h4 class="py-2"> Quiz Credintials:</h4>
        <hr class="p-0 m-0"/>
        
        <div class="dropdowns py-2"
              <label class="pr-2" for="drop-down"> Select Grade :</label>
                <select class="pl-2" style="border:none; width: 10%; background-color:#e5e5e5; border-radius:4px; "name="drop-down" id="drop-down">
                  <option value="one"> select...</option>
                  <option value="3"> Grade 10</option>
                  <option value="two"> Grade 11</option>
                  <option value="three"> Grade 12</option>
                </select> 
                
                <label class="pl-3 pr-2"for="drop-down"> Select Suject:</label>
                    <select class="pl-2" style="border:none; width: 10%; background-color:#e5e5e5; border-radius:4px;" name="drop-down" id="drop-down">
                    <option value="one"> select... </option>
                     <option value="one"> Maths </option>
                     <option value="two">Physics</option>
       
                 </select>
                 <br />
        <label class="py-3" for="textarea">Write Test Description and Instructions : </label><br><br>
       <textarea id="textarea" cols="50" rows="10" placeholder="write here..."></textarea>
        </div>

     
       <div class="navigation-btns"> 
            <a href="" class="btn btn-danger">Active Quiz</a>
            <a href="" class="btn btn-primary"> Next</a>

       </div>
     

     
    </div>

</div>