@{
    ViewData["Title"] = "Create Task";
}

<div class="row m-0">
    <div class="card col-md-4">
        <img class="card-img-top w-100" src="~/img/undraw_calculator_re_alsc.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Create quiz</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quisquam suscipit magni dicta, repellat, .</p>
            <a href="#" class="btn btn-primary">Create quiz</a>
        </div>
    </div>
    <div class="card col-md-4">
        <img class="card-img-top w-100" src="~/img/undraw_online_stats_0g94.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">View Quiz Stats</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quisquam suscipit magni dicta, repellat, .</p>
            <a href="#" class="btn btn-primary">Go To Stats</a>
        </div>
    </div>
    <div class="card col-md-4">
        <img class="card-img-top w-100" src="~/img/undraw_world_re_768g.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">View Marks</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quisquam suscipit magni dicta, repellat, .</p>
            <a href="#" class="btn btn-primary">View Marks</a>
        </div>
    </div>
</div>

