@model iTut.Models.Quiz.Quiz

@{
    ViewData["Title"] = "CreateQuiz";
}



<div class="Container  w-100 py-3">

 <div class="quiz_header_wrapper d-flex py-2 mx-2 px-2"> 
     
    <div class="Quiz_title "> 
       <h1>Create Quiz</h1>
       </div>
   <div class="back_button ml-auto pr-3 py-2">
        <a href="/Educator/CreateTask" class="btn btn-outline-danger"> Back </a> 

    </div>

  

   </div>

    <div class="quiz py-2 mx-2 px-3">
        <h4 class="py-2"> Quiz Credintials:</h4>
        <hr class="p-0 m-0"/>
        
  <form asp-action="CreateQuiz" asp-controller="Educator" method="post" enctype = "multipart/form-data"> 
        <div class="dropdowns py-2"
              <div class="form-group">
                    <label asp-for="TopicId" class="control-label"> Select Test Topic</label>      
                     <select asp-for="TopicId" class="form-control">
                         @foreach(var topic in ViewBag.Topics)
                         {
                             <option value="@topic.TopicId"> @topic.TopicName</option>
                         }

                     </select>
                     <span asp-validation-for="TopicId" class="text-danger"></span>
                    
                    
              </div>
                
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"> Start Date</label>
            <input asp-for="StartDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
            <span asp-validation-for="StartDate" class="text-danger"></span> 
        </div>
         <div class="form-group">
            <label asp-for="EndDate" class="control-label"> End Date</label>
            <input asp-for="EndDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
            <span asp-validation-for="EndDate" class="text-danger"></span> 
        </div>
        <label class="py-1" for="textarea">Write Test Description and Instructions : </label><br><br>
         <textarea asp-for="QuizDescription" rows="7" cols="40">Write Here</textarea>
         <span asp-validation-for="QuizDescription" class="text-danger"></span>
      

     
       <div class="navigation-btns form-group pl-2"> 
            <a href="" class="btn btn-danger">See Active Quiz</a>
            <button type="submit" class="btn btn-primary">Start Quiz</button>
</form>
       </div>
       </div>
       </div>
     </div>

 
     
    </div>

