
@model iTut.Models.Educator.Topic


@{
    ViewData["Title"] = "CreateCategory";
}

<div class="Container py-3 m-2 w-100">
    
   <div class="Category-container d-flex py-2 mx-2">

       <div class="Category_tittle">
    <h1 class="pb-2">Categories/Topic</h1>

       </div>
       
     <div class="back_button ml-auto pr-3 py-0">
        <a href="/Educator/CreateTask" class="btn btn-outline-danger"> Back </a> 

     
    </div>
    </div>
     <!--The Form-->
  <form asp-controller="Educator" asp-action="CreateCategory" method="post" class="container">

    <div asp-validation-summary="ModelOnly" class="text-danger list-unstyled mb-2"></div>
    <div class="form-group">
   

     <label asp-for="TopicName" class="control-label"></label>

    <input asp-for="TopicName" class="form-control w-20" />

    <span asp-validation-for="TopicName" class="text-danger"></span>

    <!--Buttons-->
     <div class="py-2">

     
    <button type="submit" class="btn btn-primary">Add Topic</button>
    <a href="/Educator/Categories" class="btn btn-danger"> View Categories/Topic</a>



    </div>
    
     </div>
</form>

</div>