@model iTut.Models.ViewModels.Educator.RegisterEducatorViewModel

@{
    ViewData["Title"] = " Register Educator";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="d-flex align-items-center min-vh-100 py-5 px-3 mr-auto bg-body w-100">
    <form asp-controller="Register" asp-action="Educator" method="post" class="container">
        <div asp-validation-summary="ModelOnly" class="text-danger list-unstyled mb-2"></div>
        <h3 class="mb-2">Register as a Educator</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="EmailAddress" class="control-label"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Gender" class="form-label mb-1"></label>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Race" class="form-label mb-1"></label>
                    <select asp-for="Race" asp-items="Html.GetEnumSelectList<Race>()" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="PhysicalAddress" class="control-label"></label>
                    <input asp-for="PhysicalAddress" class="form-control" />
                    <span asp-validation-for="PhysicalAddress" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PrimarySubject" class="control-label"></label>
                    <input asp-for="PrimarySubject" class="form-control" />
                    <span asp-validation-for="PrimarySubject" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="SecondarySubject" class="control-label"></label>
                    <input asp-for="SecondarySubject" class="form-control" />
                    <span asp-validation-for="SecondarySubject" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <a href="@Url.Action("Index", "Home")" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>

