@model RegisterStudentViewModel
@{
    ViewData["Title"] = "Register Student";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div>
    <form asp-controller="Register" asp-action="Student" method="post" class="w-100">
        <div asp-validation-summary="ModelOnly" class="text-danger list-unstyled mb-2"></div>
        <h3 class="mb-5">Register as a Student</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label mb-1" asp-for="FirstName"></label>
                    <input class="form-control" asp-for="FirstName" asp-required="true" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label mb-1" asp-for="LastName"></label>
                    <input class="form-control" asp-for="LastName" asp-required="true" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Grade" class="form-label mb-1"></label>
                    <select asp-for="Grade" asp-items="Html.GetEnumSelectList<Grade>()" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label mb-1" asp-for="PhoneNumber"></label>
                    <input class="form-control" asp-for="PhoneNumber" asp-required="true" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label mb-1" asp-for="EmailAddress"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label mb-1" asp-for="PhysicalAddress"></label>
            <input class="form-control" asp-for="PhysicalAddress" asp-required="true" />
            <span asp-validation-for="PhysicalAddress" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Gender" class="form-label mb-1"></label>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Race" class="form-label mb-1"></label>
                    <select asp-for="Race" asp-items="Html.GetEnumSelectList<Race>()" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label mb-1" asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label mb-1" asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <a href="@Url.Action("Index", "Home")" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>