

@{
      ViewData["Title"] = "Subjects";
}
<div id="collapseOffCanvas" class="bg-body offcanvas-collapse open w-100">
    <main class="main-expanded vh-100 w-100">
        <div class="container-fluid px-lg-5">
            <div class="d-flex py-5 border-bottom">
               
                <div class="mr-auto">
                    <h1>My Subjects</h1>
                </div>
                    </li>
                </ul>
            </div>