@model Complaint

<div class="modal fade" id="editComplaintModal-@Model.Id" tabindex="-1" aria-labelledby="editComplaintModalLabel" aria-hidden="true">
    <div class="modal-dialog mr-0 mt-0 mb-0 modal-md h-100 fadeInRight animated">
        <form asp-controller="Parent" asp-action="EditComplaint" method="post" class="modal-content h-100 rounded-0">
            <div class="modal-header py-4 bg-body shadow-none">
                <h1 class="fs-2" id="editComplaintModalLabel">Edit Complaint</h1>
                <button class="btn btn-auto d-inline-flex flex-shrink-0 align-items-center justify-content-center p-0 rounded-circle" data-dismiss="modal" style="width: 2.5rem; height: 2.5rem;" type="button" aria-label="Close">
                    <svg class="gi gi-x fs-3" width="1em" height="1em" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.613 6.2l.094.083L12 10.585l4.293-4.292.094-.083a1 1 0 0 1 1.403 1.403l-.083.094L13.415 12l4.292 4.293a1 1 0 0 1-1.32 1.497l-.094-.083L12 13.415l-4.293 4.292-.094.083a1 1 0 0 1-1.403-1.403l.083-.094L10.585 12 6.293 7.707a1 1 0 0 1 1.32-1.497z" />
                    </svg>
                </button>
            </div>
            <div class="modal-body py-0">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ParentId" hidden value="@Model.ParentId"/>
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ComplaintBody" class="control-label"></label>
                            <textarea asp-for="ComplaintBody" class="form-control"></textarea>
                            <span asp-validation-for="ComplaintBody" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer py-4 d-flex bg-body shadow-none">
                <div class="mr-auto"></div>
                <button class="btn btn-lg btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>