@model iTut.Models.Parent.Complaint

@{
    ViewData["Title"] = "Invite Parent";
    ViewBag.Title = "Parent";
}
<div id="collapseOffCanvas" class="bg-body offcanvas-collapse open w-100">
    <main class="main-expanded vh-100 w-100">
        <div class="container-fluid px-lg-5">
            <div class="invisible-scrollbar position-relative wh-main">
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-3">
                            <div class="mr-auto">
                                <h2 class="mb-2 fs-2 lh-tight">Invite Parent</h2>
                            </div>
                        </div>
                    </div>
                    <form asp-controller="Parent" asp-action="InviteParent" class="col-12">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="ParentId" hidden value="@ViewBag.Parent"/>
                        <div>
                            <div class="form-group mb-3">
                                <label asp-for="ParentEmail" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="ComplaintBody" class="control-label"></label>
                                <textarea asp-for="ComplaintBody" class="form-control"></textarea>
                                <span asp-validation-for="ComplaintBody" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>